.green-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  padding: 0.5rem 1.5rem;

  border: none;
  border-radius: 999px;

  background: #39d353;
  color: white;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.green-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 25px rgba(57, 211, 83, 0.35);
}

.green-btn:active {
  transform: translateY(0);
}
